<a href="https://colab.research.google.com/github/matheuskaully/ifb_projects/blob/main/1_bracelet_ifb_project_matheuskaully.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**1. Importanto e extraindo o arquivo zip:**

In [1]:
from zipfile import ZipFile
import os
import pandas as pd
import csv

#download dos dados: https://drive.google.com/file/d/1xdHaCrNs9sLbO5otCcKoR2TsO2-Uhhnv/view

#extraindo arquivo HMP_Dataset.zip
with ZipFile('/content/HMP_Dataset.zip', 'r') as hmp_dataset:
  hmp_dataset.extractall()
  print('Extraído!')

Extraído!

 **2. Criando arquivo de dados único**

In [12]:
with open('/content/arquivo_unico.txt', 'a+'): #execute uma única vez para criar o arquivo
  print('Arquivo criado!')
  pass

Arquivo criado!

**3. Lendo arquivos para criar DataFrame:**

In [13]:
#salvando o diretório na variável 
caminho_pasta = '/content/HMP_Dataset/'

#salvando lista de arquivos da pasta "HMP_Dataset"
lista_pastas = os.listdir(caminho_pasta)

#função para ler cada arquivo
def ler_arq_texto(caminho_arq): 
    with open(caminho_arq, 'r') as c: 
        lido = c.read()
        return lido

#navegando pasta por pasta
for pasta_por_pasta in lista_pastas:
  caminho_pasta = f'/content/HMP_Dataset/{pasta_por_pasta}'
  os.chdir(caminho_pasta)

  #navegando arquivo por arquivo, abrindo um por um
  for arq in os.listdir(): 
     if arq.endswith('.txt'):
         caminho_arq = f'{caminho_pasta}/{arq}'
         
         with open('/content/arquivo_unico.txt', 'a') as arq_unico:
           arq_unico.write(ler_arq_texto(caminho_arq))
           arq_unico.write('\n')
           pass
   
#Atenção: é interessante esperar uns 15 segundos até que o arquivo de texto seja totalmente preenchido
#Rode o próximo bloco de código somente após o tempo mencionado acima.

**4. Lendo arquivo único e tranformando em tabela**

In [14]:
#lendo arquivo único .txt criado anteriormente
lendo_arquivo = pd.read_csv('/content/arquivo_unico.txt', delimiter=' ')

#transformando .txt em .csv
lendo_arquivo.to_csv('/content/arquivo_unico.csv', index=None)

#Atenção: é interessante esperar uns 15 segundos até que o arquivo de texto seja totalmente preenchido
#Rode o próximo bloco de código somente após o tempo mencionado acima.

**5. Abrindo tabela e gerando o DataFrame**

In [15]:
#abrindo .csv, criando dataframe e renomeando colunas
with open("/content/arquivo_unico.csv") as arq_csv:
    ler_csv = csv.reader(arq_csv)
    df = pd.DataFrame(ler_csv, columns=['x', 'y', 'z'])

In [16]:
#continuação
df

         x   y   z
0       28  41  50
1       28  41  50
2       28  41  51
3       28  42  52
4       30  40  51
...     ..  ..  ..
479284  22  45  46
479285  22  46  47
479286  22  44  45
479287  23  45  46
479288  23  44  46

[479289 rows x 3 columns]